@model hm6.Models.Orderdetails

@{
    ViewBag.Title = "orders";
}

<h2>Orders</h2>
<input type="date" class="form-control" />
<input type="submit" value="Search" class="btn btn-primary" />

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>List Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        @foreach (var item in Model.order_Items)
        
        {
           
                     <tr>
                       <td>@item.product.product_name</td>
                         <td>@item.list_price</td>
                         <td>@item.quantity</td>
                         <td>@item.quantity*@item.list_price</td>
                    </tr>
        }
            
        </thead>
</table>